/********** min480px************/
@media screen and (min-width: 480px) {
  main {
    font-size: medium;
  }
  .container-mobile-max {
    width: calc(100vw - 12px) !important; /* 12px sono la scrollbar! */
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #00c6ff);
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, hsl(244deg 60% 73%));
  }
  img[src="img/phone.png"] {
    width: 50% !important;
  }
  #product-presentation > .flex.column {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #product-presentation .contenitor {
    width: calc(100% / 3);
    padding: 20px;
  }

  #product-presentation .contenitor:first-child {
    width: calc(100% / 3 * 2);
  }
  #testimonials .cards {
    flex-direction: row;
  }
  section .container {
    max-width: 1000px;
    margin: auto;
  }
}
/********** min768px************/

@media screen and (min-width: 768px) {
  /* HEADER */

  nav button > i::before {
    display: none;
  }
  img[src="img/phone.png"] {
    width: 100% !important;
  }

  #nav-li,
  #nav-li > li:not(.not) {
    display: flex;
  }
  nav .none {
    display: inline-block;
  }
  nav .btn {
    display: inline;
  }
  /* /HEADER */

  /* MAIN */

  /* product-presentation */
  #product-presentation .principal {
    flex-direction: row;
  }
  #product-presentation .cards {
    padding: 40px;
  }
  /* product-presentation */

  /* planning */
  #planning > div:only-child {
    flex-direction: row;
    max-width: 900px;
  }
  .cards#app-dev {
    padding: 40px 20px;
  }
  #planning #app-dev > img {
    width: 70%;
  }
  /* planning */
}

/********** min900px************/

@media screen and (min-width: 900px) {
  /* product-presentation */
  #primal {
    gap: 40px;
  }
  /* /product-presentation */
}

@media screen and (min-width: 1200px) {
  main {
    font-size: large;
  }
  /* product-presentation */
  #primal {
    gap: 60px;
  }
  /* /product-presentation */
}

/**** separate queries *****/

@media screen and (min-width: 480px) {
  #features .grid {
    grid-template-columns: auto auto;
  }
  #about-us .grid {
    grid-template-columns: auto auto auto;
  }
  #about-card {
    grid-area: 1 / 2;
    max-width: 220px;
  }
  #get-started h1 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 768px) {
  #features .grid {
    grid-template-columns: auto auto auto;
  }
  #get-started .new-box {
    max-width: 768px;
    margin: auto;
  }
  #get-started h1 {
    font-size: 3em;
  }
}
