/***--- Generics ---***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /reset */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif, "Fredoka One", cursive;
}

ul {
  list-style-type: none;
}

li > a {
  text-decoration: none;
}

/***--- /Generics ---***/

/******************** CONTENT 
****************************/

/***+ SCROLLBAR +***/

::-webkit-scrollbar {
  width: 0px;
}

/***+ SCROLLBAR +***/

/********************* 
 HEADER 
 *********************/

header {
  background-color: hsl(209deg 100% 50%);
  padding: 0 2%;
  color: #fff;
}

header nav {
  height: 60px;
  line-height: 60px;
}
header img[src="img/logo.png"] {
  vertical-align: middle;
}

nav .fa-solid.fa-bars {
  font-size: xx-large;
  color: #fff;
}
nav button {
  background-color: inherit;
  border: 0;
}

header li a {
  text-transform: capitalize;
  display: inline-block;
  color: #fff;
}

header nav a:not(.not):hover {
  border-bottom: 1px solid #fff;
}

/*********************  
/HEADER
*********************/

/********************* 
 MAIN 
 *********************/

/********************* 
 /MAIN 
 *********************/

/********************* <
 FOOTER 
 *********************/

/********************* 
 /FOOTER 
 *********************/
