/* VARIABLE */
:root {
  --principal-color: #9792e4;
}

/***--- Generics ---***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /reset */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif, "Fredoka One", cursive;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/***--- /Generics ---***/

/******************** CONTENT 
****************************/

/***+ SCROLLBAR +***/

::-webkit-scrollbar {
  width: 0px;
}

/***+ SCROLLBAR +***/

/********************* 
 HEADER 
 *********************/

header {
  background-color: hsl(209deg 100% 50%);
  padding: 0 2%;
  color: #fff;
}

header nav {
  height: 60px;
  line-height: 60px;
}
header img[src="img/logo.png"] {
  vertical-align: middle;
}

nav .fa-solid.fa-bars {
  font-size: xx-large;
  color: #fff;
}
nav button {
  background-color: inherit;
  border: 0;
}

header li a {
  text-transform: capitalize;
  color: #fff;
}

header nav li a:not(.btn):hover {
  border-bottom: 1px solid #fff;
}

/*********************  
/HEADER
*********************/

/********************* 
 MAIN 
 *********************/

main {
  padding-top: 60px;
  /* font-size: small; */
}

section:nth-of-type(2n + 0) {
  background-color: var(--principal-color);
  padding: 2% 0;
}

section:nth-of-type(2n + 1) {
  margin-bottom: 3%;
}

.cards {
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contenitor {
  padding: 20px;
}

/****** #PRODUCT-PRESENTATION SECTION  *****/

#product-presentation .cards {
  background-color: #b5ddff;
}
#product-presentation .principal.text-left {
  padding-bottom: 0 !important;
  text-align: left !important;
}

#product-presentation .cards > i {
  font-size: 5em;
  color: #0084fd;
}
#product-presentation .cards h1,
#product-presentation .cards h2 {
  color: #0084fd;
}
#product-presentation .cards p {
  color: #5a6e7f;
}
#product-presentation img {
  width: 100%;
}
/****** /#PRODUCT-PRESENTATION SECTION  *****/

/****** #PLANNING SECTION *****/

#planning img {
  width: 100%;
}
#planning #app-dev {
  background-color: #fff;
}

/****** /#PLANNING SECTION *****/

/****** TESTIMONIALS SECTION *****/
#testimonials .cards {
  background-color: var(--principal-color);
  color: #fff;
  text-align: left !important;
  padding: 15px;
}

#testimonials img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  clip-path: circle(
    50%
  ); /* clip-path si chiede quale sia il suo raggio sul piano orizzontale e non vertivale, in un quadrato o un rettangolo dai lati verticali più lunghi, basterebbe un 50% (il 50% della lunghezza del poligono è il raggio del cerchio), invece avendo la base più lunga nel rettangolo dobbiamo regolarci rapportandoci all'asse y  */
}

#testimonials .cards p::before {
  content: open-quote;
}
#testimonials .cards p::after {
  content: close-quote;
}
/****** /TESTIMONIALS SECTION *****/

/****** FEATURES SECTION *****/

#features .cards {
  background-color: #fff;
}

/****** /FEATURES SECTION *****/

/********************* 
 /MAIN 
 *********************/

/********************* <
 FOOTER 
 *********************/

/********************* 
 /FOOTER 
 *********************/

/********
shared
*********/

.btn {
  color: black;
  padding: 6px;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid;
}
.btn-blue {
  color: #fff;
  background-color: hsl(209deg 100% 50%);
  padding: 6px 40px;
  border-radius: 100px;
}
.btn-violet {
  color: #fff;
  padding: 4px 10px 6px;
  border-radius: 100px;
  background-color: var(--principal-color);
}
